@import "tailwindcss";

:root {
  --background: #e3e3e3;
  --foreground: #171717;
  --border: #e5e5e5;
  --muted: #737373;
}

:root[data-theme="dark"] {
  --background: #171717;
  --foreground: #ededed;
  --border: #262626;
  --muted: #a3a3a3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-muted: var(--muted);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --background: #171717;
    --foreground: #ededed;
    --border: #262626;
    --muted: #a3a3a3;
  }
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono), monospace;
  font-size: 14px;
  /* line-height: 1.6; */
  margin: 0;
  padding: 0;
}


a:hover {
  text-decoration-color: var(--foreground);
}
